pkgbase = velocity-gitlab-ee
	pkgdesc = Project management and code hosting application
	pkgver = 11.10.0
	pkgrel = 1
	url = https://gitlab.com/gitlab-org/gitlab-ee
	install = gitlab.install
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = postgresql
	makedepends = mariadb
	makedepends = yarn
	makedepends = go
	makedepends = nodejs
	depends = ruby2.5
	depends = ruby2.5-bundler
	depends = git
	depends = gitlab-workhorse
	depends = gitlab-gitaly
	depends = openssh
	depends = redis
	depends = libxslt
	depends = icu
	depends = re2
	depends = http-parser
	depends = nodejs
	optdepends = postgresql: PostgreSQL database backend
	optdepends = mysql: MySQL database backend
	optdepends = python2-docutils: reStructuredText markup language support
	optdepends = smtp-server: Mail server to receive e-mail notifications
	provides = gitlab
	conflicts = gitlab
	options = !buildflags
	backup = etc/webapps/gitlab/application.rb
	backup = etc/webapps/gitlab/gitlab.yml
	backup = etc/webapps/gitlab/resque.yml
	backup = etc/webapps/gitlab/unicorn.rb
	backup = etc/logrotate.d/gitlab
	source = gitlab-ee-11.10.0.tar.gz::https://gitlab.com/gitlab-org/gitlab-ee/-/archive/v11.10.0-ee/gitlab-ee-v11.10.0.tar.gz
	source = gitlab-unicorn.service
	source = gitlab-sidekiq.service
	source = gitlab-backup.service
	source = gitlab-mailroom.service
	source = gitlab-backup.timer
	source = gitlab.target
	source = gitlab.tmpfiles.d
	source = gitlab.logrotate
	md5sums = 8f7706b1048b5ebda058dc958252324b
	md5sums = c37b66a348ea827e31e63dd42618c8b5
	md5sums = 801952180f695a5f65cca763de2ea3ca
	md5sums = 504238dafa7d705a2c3ae856af578e4c
	md5sums = 382962bb70d221eef5cc4ccbc8ad1b91
	md5sums = e75d51f06374b2f89cdf5ff6f06cfb45
	md5sums = 24438d49a7d7bf5f66946bd1f12bf116
	md5sums = 041ac3740f28458f4cbdcfcafbd4e569
	md5sums = 92a05461d4b026f648eebd4e3d4704f8

pkgname = velocity-gitlab-ee
	depends = ruby2.5
	depends = ruby2.5-bundler
	depends = git
	depends = gitlab-workhorse
	depends = gitlab-gitaly
	depends = openssh
	depends = redis
	depends = libxslt
	depends = icu
	depends = re2
	depends = http-parser
	depends = nodejs
	depends = gitlab-shell

